---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      h1,
      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      .shopify {
        background-color: #ddff9e;
        text-decoration: none;
        padding: 3px;
        color: black;
        text-decoration: underline;
      }

      .yellowme {
        background-color: #fdff9d;
        text-decoration: none;
        padding: 3px;
        color: black;
        text-decoration: underline;
      }

      .hydrogen {
        background-color: #e0ffff;
        text-decoration: none;
        padding: 3px;
        color: black;
        text-decoration: underline;
      }

      .remix {
        background-color: rgb(255, 224, 224);
        text-decoration: none;
        padding: 3px;
        color: black;
        text-decoration: underline;
      }

      .daniel {
        color: white;
        background-color: black;
        padding: 3px;
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>lordofthecactus.dev</h1>
      <p>
        Hey there 👋, I'm <span class="daniel"
          >Daniel Rios Pavia (@lordofthecactus)</span
        >.
      </p>
      <p>
        In my 9-year career as a senior software engineer, I started as a Rails
        developer, served as the CTO of an art booking startup, and founded
        <a href="yellowme.mx" class="yellowme">yellowme</a>, exiting in 2022.
      </p>
      <p>
        My last 4 years I worked at <a
          href="https://www.shopify.com/"
          class="shopify">Shopify</a
        > where I specialized in frontend development. As part of <a
          href="https://hydrogen.shopify.dev/"
          class="hydrogen">Hydrogen</a
        >
         team, I contributed significantly to an open-source headless e-commerce
        framework and utilities on top of <a
          href="https://remix.run/"
          class="remix">Remix</a
        >.
        <h2>Blog posts</h2>
        <Footer />
      </p>
    </main>
  </body>
</html>
