---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      h1,
      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      :root {
        --soft-green: #ddff9e;
        --soft-blue: #e0ffff;
        --soft-yellow: #fdff9d;
        --soft-red: #ffe0e0;
      }

      .shopify {
        background-color: var(--soft-green);
        text-decoration: none;
        padding: 3px;
        color: black;
        text-decoration: underline;
      }

      .yellowme {
        background-color: var(--soft-yellow);
        text-decoration: none;
        padding: 3px;
        color: black;
        text-decoration: underline;
      }

      .hydrogen {
        background-color: var(--soft-blue);
        text-decoration: none;
        padding: 3px;
        color: black;
        text-decoration: underline;
      }

      .remix {
        background-color: var(--soft-red);
        text-decoration: none;
        padding: 3px;
        color: black;
        text-decoration: underline;
      }

      @-webkit-keyframes colors {
        0% {
          background-color: var(--soft-green);
        }
        25% {
          background-color: var(--soft-blue);
        }
        50% {
          background-color: var(--soft-yellow);
        }
        75% {
          background-color: var(--soft-red);
        }
        100% {
          background-color: var(--soft-green);
        }
      }

      .blinkdiv {
        height: 100px;
        background-color: black;
        -webkit-animation-name: blackWhite;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-duration: 2s;
      }

      .daniel {
        color: black;
        animation-name: colors;
        animation-iteration-count: infinite;
        animation-duration: 8s;
        padding: 3px;
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>lordofthecactus.dev</h1>
      <p>
        Hey there 👋, I'm <span class="daniel"
          >Daniel Rios Pavia (@lordofthecactus)</span
        >.
      </p>
      <p>
        In my 9-year career as a senior software engineer, I started as a Rails
        developer, served as the CTO of an art booking startup, and founded
        <a href="yellowme.mx" class="yellowme">yellowme</a>, exiting in 2022.
      </p>
      <p>
        My last 4 years I worked at <a
          href="https://www.shopify.com/"
          class="shopify">Shopify</a
        > where I specialized in frontend development. As part of <a
          href="https://hydrogen.shopify.dev/"
          class="hydrogen">Hydrogen</a
        >
         team, I contributed significantly to an open-source headless e-commerce
        framework and utilities on top of <a
          href="https://remix.run/"
          class="remix">Remix</a
        >.
        <Footer />
      </p>
    </main>
  </body>
</html>
